<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
      	   ">

    <description>This is storage layer spring context configuration</description>

    <context:annotation-config/>

    <import resource="classpath*:/META-INF/spring/cd-core.xml"/>

    <context:component-scan base-package="com.tridion.storage"/>
    <context:component-scan base-package="com.tridion.storage.persistence"/>
    <context:component-scan base-package="com.tridion.broker.querying.generators.dao" />

</beans>
